.zerif_theme{
    background-color:rgb(212, 113, 191);
    
    
}
.zerif_theme h2,h3,label,li{
    color:aliceblue;
}
.zerif_theme h3{
    font-weight: bold;
}
.box_tool{
   
    background-color: rgb(207, 44, 166);
    border-radius: 10px;
}
.zerif_theme .container-fluid{
    color:azure;
}
body{
    background-color: rgb(214, 84, 123);
}
.zerif_button{
    background-color: rgb(255, 0, 212);
}